body{
    background-color: black;
}

.logo {
    width: 200px;
    height: auto;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

img {
    width: 500px;
    height: auto;
    padding: 15px;
}
    